@model IEnumerable<Vieon.Models.Phim>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thêm phim mới</h2>

<p>
    @Html.ActionLink("Thêm phim mới", "Create")
</p>
<style>
    .main-content-pro {
        display: flex;
        flex-wrap: wrap;
        justify-content:flex-start;
    }

    .card-pro {
        border: 1px solid #ccc;
        transition: border 0.3s;
        width: 250px;
        height: 325px;
        margin-bottom: 25px;
    }

    .card-buttons {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .card-pro:hover {
        border: 2px solid black;
    }
</style>
<div class="search-bar">
    <form action="/Phims/Index" method="get">
        <input type="text" name="searchText" placeholder="Nhập tên phim">
        <button type="submit">Tìm kiếm</button>
    </form>
</div>
<div class="container">
    <div class="col">
        <br />
        <br />
        <h3 style="color: black; text-align: center"><strong>PHIM</strong></h3>
    </div>
    <br />
    <br>
    <div class="row">
        <div class="main-content-pro">
            @foreach (var pro in Model)
            {
                <div class="col-sm-6 col-md-4 col-lg-3">
                    <a href="/Phims/Details/@pro.ID_Phim">
                        <div class="card-pro" style="text-align: center">
                            <br />
                            <img src="~/Content/Images/@pro.HinhMinhHoa" width="200" height="140" />
                            <br />
                            <p>@Html.DisplayFor(model => pro.TenPhim)</p>
                            <div class="card-buttons">
                                <button style="background-color: cornflowerblue; margin-right:5px">
                                    @Html.ActionLink("Sửa", "Edit", new { id = pro.ID_Phim }, new { style = "color: white;" })
                                </button>
                                <button style="background-color: cornflowerblue; margin-left:5px">
                                    @Html.ActionLink("Xóa", "Delete", new { id = pro.ID_Phim }, new { style = "color: white;" })
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>
