@model Vieon.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/ChiTiet.cshtml";
}

<style>
    .vertical-scroll-container {
        overflow-y: scroll;
        height: 200px;
        width: 950px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .dau-sach-list {
        list-style: none;
        padding: 0;
    }

    .info-column {
        margin-right: 20px;
    }

    .edit-info {
        background-color: #00BFFF;
        padding: 10px 15px;
        border-radius:3px;
        text-decoration:none;
        color:#fff;
    }
        .edit-info:hover {
            background-color: #009ACD;
        }
    .change-pass {
        background-color: #FF6A6A;
        padding: 10px 15px;
        border-radius: 3px;
        text-decoration: none;
       margin-left:40px;
    }
        .change-pass:hover {
            background-color: #CD5555;
        }
</style>

<div style="margin-left: 10%">
    <h2>Thông tin tài khoản</h2>
    <hr />
    <div class="row" style="margin-left:2%">
        <div class="info-column">
            <strong>Họ tên:</strong> @Html.DisplayFor(model => model.HoTen)
            <br />
            <br />
            <strong>Email:</strong> @Html.DisplayFor(model => model.Email)
            <br />
        </div>
        <div class="info-column" style="margin-left:5%">
            <strong>Số điện thoại:</strong> @Html.DisplayFor(model => model.SDT)
            <br />
        </div>
    </div>
    <br />
    <p style="margin-left:900px">
        @if (Model.RoleUser == "Vip")
        {
            using (Html.BeginForm("CancelSubscription", "ThanhToans", new { userId = Model.ID_User }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-danger" style="margin-left:900px">Hủy gói</button>
            }
        }
    </p>
    <div>
        <a href="/UserKhachs/Edit_Info/@Model.ID_User" class="edit-info" style="color: #fff">
            Thay đổi thông tin cá nhân
        </a>
        <a href="/UserKhachs/ChangePassword/@Model.ID_User" class="change-pass" style="color: #fff">
            Thay đổi mật khẩu
        </a>
    </div>
    
</div>
