@*@model IEnumerable<Vieon.Models.PhimYeuThich>*@
@model List<Vieon.Models.Favorite>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Basic_Layout.cshtml";
}

<style>
    .notice {
        color: #000;
        margin: 50px 0px;
        text-align: center;
        font-size: 25px;
    }
</style>

<p class="notice"> Chưa có phim nào được bạn yêu thích.</p>

