@model Vieon.Models.DaoDien

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DaoDien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDaoDien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDaoDien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_DaoDien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
