<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Targets -->
  <targets>
    <!-- File target -->
    <target xsi:type="File" name="file" fileName="logfile.txt" />
    <!-- Debug console target -->
    <target xsi:type="Debugger" name="debugConsole" />

  </targets>

  <!-- Rules to map loggers to targets -->
  <rules>
    <!-- All logs go to file -->
    <logger name="*" minlevel="Trace" writeTo="file" />

    <!-- Logs of level Debug and higher go to debug console -->
    <logger name="*" minlevel="Debug" writeTo="debugConsole" />
  </rules>
</nlog>